

a{
  color:white;
}
a:hover{
  color:firebrick;
}

a#showAuth{
  display:block;
  background:url(../img/lock.png) no-repeat left center;  
  padding:18px;
  padding-left:40px;

}


a#showAbout{
  display:block;
  background:url(../img/paw.png) no-repeat left center;  
  padding:8px;
  padding-left:30px;}

a#showPic{
  display:block;
  background:url(../img/photos-tab.png) no-repeat left center;  
  padding:8px;
  padding-left:30px;
}