ul {
	color: black;
	background: #fff;
	border: 1px solid #B4B4B4;
	font: bold 17px Helvetica;
	padding: 0;	   
	margin-left: 12px;
	margin-right: 12px;
	-webkit-border-radius: 8px;
	opacity:.75;
	text-align:left;
	}


	ul li {
		color: #666;
		border-top: 1px solid #B4B4B4;
		list-style-type: none;	
		padding: 10px 10px 10px 10px;
		}
		

		
		/* when you have a first LI item on any list */
		
		li:first-child {	
			border-top: 0;
			-webkit-border-top-left-radius: 8px;
			-webkit-border-top-right-radius: 8px;
			}

		li:last-child {	
			-webkit-border-bottom-left-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			}

/* when you have a first LI item on any list */

li:first-child, li:first-child a {
	border-top: 0;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

li:last-child, li:last-child a {
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

/* universal arrows */

ul li.arrow {
	background-image: url(../img/chevron.png);
	background-position: right center;
	background-repeat: no-repeat;
}


ul li div.hint{
  font-size:.75em;
  color:#333;
  font-weight:normal;
}




ul li a{
  color:#333;
}

ul li.title{
  color:#666;
  text-align:center;  
  font-size:.8em;
}